.container{
    height: calc(100vh - 100px);
    background-color: #d1411e;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.arrowContainer{
    position: absolute;
    width: 10%;
    height: 20%;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    z-index: 1;
}

.arrowContainer:hover{
    opacity: 0.7;
}

.wrapper{
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    transition: all 1.5s ease-in-out;
}

.pizza{
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 60%;
      
}

.header{
    position: relative;
    display: flex;
    align-items: flex-start;
    font-weight: bolder;
    color: white;
    font-size: 4rem;
    z-index: 3;
  
  
}
.list{
   position: relative;
   align-items: center;
   color: white;
   font-size: 2rem;
   font-weight: bold;
   z-index: 2;
   list-style: none;
   text-align: center;
   padding: 1rem;
 

}


.orderNow{
    list-style: none;
    color: white;
    font-weight: bold;
    z-index: 2;
    font-size: 2.5rem;
    padding: 0.5rem;
    border: 3px solid white;
    margin: 0.5rem;
    
}

.orderNow:hover{
    background-color: white;
    color: #d1411e;
    border: 3px solid #d1411e;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 0.5rem;
    padding: 1rem;
}

.name{
    font-size: 1rem;;
}


@media screen and (max-width: 480px) {
    .container{
        height: 50vh;
    }
    
    .list li{
        margin-bottom: 2rem;
        font-size: small;
    }
    .header{
        font-size: large;
    }
}

